<p-toast></p-toast>

<div class="admin-page">
  <p-card header="Products" subheader="List of all products">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button label="New" icon="pi pi-plus" styleClass="p-button-success" routerLink="form"></p-button>
            <!-- <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-warning"></button> -->
          </div>
        </p-toolbar>
      </div>

    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="products" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Image</th>
              <th pSortableColumn="price">
                Price
                <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="stock">
                Stock
                <p-sortIcon field="stock"></p-sortIcon>
              </th>
              <th pSortableColumn="category">
                Category
                <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="created">
                Created At
                <p-sortIcon field="created"></p-sortIcon>
              </th>
              <th></th>
             
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{product.name}}</td>
              <td> <img [src]="product?.image" style="width: 100px; height: 100px;" alt=""> </td>
              <td>{{product.price}}</td>
              <td>{{product.countInStock}}</td>
              <td>{{product.category?.name}}</td>
              <td>{{product.dateCreated | date:'short'}}</td>
              <!-- <td><i class="pi" [ngClass]="'pi-' + product.icon"></i></td> -->
              <td>
                <p-button (click)="deleteProduct()" styleClass="p-button-danger mr-2" icon="pi pi-trash"></p-button>
                <p-button (click)="updateProduct()" styleClass="p-button-success" icon="pi pi-pencil"></p-button>
              </td>


            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>
