.d-item {
    display: flex;
    text-align: center;
    color: var(--surface-a);
    justify-content: space-between;

    .pi {
        font-size: 4em;
        margin-bottom: 15px;
    }
    .name {
        font-size: 1.4em;
    }
    .number {
        margin-top: 50px;
        font-size: 2.5em;
    }
}

.d-orders {
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.d-products {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.d-users {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.d-totalsales {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
