<p-toast></p-toast>

<div class="admin-page" *ngIf="order">
  <p-card [header]="'View Order'" subheader="You can edit order status here">
    <p-fieldset legend="Order Details" [toggleable]="true" styleClass="mb-4">
      <div class="grid">
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{order.id}}</p>
        </div>
        <div class="col-4">
          <h5>Order Date</h5>
          <p>{{order.dateOrdered | date: 'short'}}</p>
        </div>
        <div class="col-4">
          <h5>Order Status</h5>
          <p-dropdown></p-dropdown>
        </div>
        <div class="col-4">
          <h5>Order Total Price</h5>
          <p>{{order.totalPrice | currency : 'BRL'}}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Items" [toggleable]="true" styleClass="mb-4">
      Content
    </p-fieldset>
    <p-fieldset legend="Order Address" [toggleable]="true" styleClass="mb-4">
      Content
    </p-fieldset>
  </p-card>
</div>
