footer {
    background-color: var(--cyan-900);
    min-height: 50px;
    padding: 10px 25px;
    width: 100%;
    margin-top: 25px;
    color: beige;

    .footer-wrapper {
        align-items: center;
        .pi {
            color: beige;
        }
        .social {
            margin-top: 15px;
            text-align: right;
            .nav {
                justify-content: flex-end;
            }
        }
    }
}
