//Base
@import "~normalize.css/normalize.css";
@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/mixins.scss";

//Libraries
@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";
@import "/node_modules/primeflex/primeflex.css";

@import "./base/configuration.scss";

//Shared
@import "./apps/shop/shared/header.scss";
@import "./apps/shop/shared/footer.scss";
@import "./apps/shop/shared/nav.scss";

//Pages
@import "./apps/shop/pages/home-page.scss";
@import "./apps/shop/pages/product-list-page.scss";


//libs
@import "./libs/ui/ui.scss";
@import "./libs/products/products.scss";


.container {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
    background: var(--surface-100);
}
